    body {
        background-color: rgba(162, 125, 99, 1);
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .shelf{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 75%;
        
        width: 90vw;
        height: 12px;
        content: "";
        background-color: rgba(233, 95, 82, 1);
        border: 2px solid rgba(51, 51, 51, 1);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        z-index: 10;
    }
    .joint{
        background-color: rgba(51, 51, 51, 1);
        width: 30px;
        height: 60px;
        content: "";
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 12px;
        z-index: 9;
        clip-path: polygon(0 0, 100% 0, 100% 25%, 60% 100%, 40% 100%, 0 25%);
    }
    .books{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(75% - 300px);
        /* border: 1px solid white; */

        width: 90vw;
        height: 300px;
        content: "";

        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: center;
    }
    .books p {
      position: absolute;
      color: white;
    }
/*******apéros*******/
    .book-aperos{
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        width: 60px;
        content: "";
        background-color: rgba(130, 56, 47, 1);
        border-radius: 12px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
    .book-aperos .bande-grp {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        width: 100%;
    }
    .book-aperos .bande {
        height: 15px;
        width: 100%;
        content: "";
        background-color: rgb(212, 212, 212);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .book-aperos-title{
        height: 50px;
        width: 150px;
        content: "";
        background-color: rgb(122, 0, 0);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        border-radius: 50%;
        position: absolute;
        transform: rotate(-90deg);
    }
/*******entrées*******/
    .book-entrees{

        font-family: "Lucida Console", "Courier New", monospace;

        height: 85%;
        width: 80px;
        content: "";

        margin-left: 5px;

        background-color: rgba(136, 163, 154, 1);
        
        border-radius: 16px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
    .book-entrees .circle{
        height: 35px;
        width: 25px;
        content: "";
        border-radius: 50%;
        background-color: rgba(111, 142, 131, 1);
    }
    .book-entrees .bande-grp{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 22px;
    }
    .book-entrees .bande{
        height: 4px;
        width: 75px;
        content: "";
        background-color: rgba(111, 142, 131, 1);
    }
    .book-entrees-title{
        height: 36px;
        width: 190px;
        content: "";
        background-color: rgb(51, 51, 51);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        border-radius: 50%;
        position: absolute;
        transform: rotate(-90deg);
    }

/*******plats*******/
    .book-plats{

        transform: rotateZ(-6deg);
        font-family: cursive;
        height: 100%;
        width: 70px;
        content: "";

        margin-left: 10px;

        background-color: rgba(100, 68, 46, 1);
        border-radius: 10px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .book-plats .square{
        height: 66%;
        width: 50%;
        content: "";
        border: 2px solid rgba(155, 113, 85, 1);

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    .book-plats .line{
        height: 86%;
        width: 2px;
        content: "";
        background-color: rgba(155, 113, 85, 1);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    

    .book-plats .bande{
        height: 4px;
        width: 70px;
        content: "";
        background-color: rgba(66, 42, 26, 1);
    }
    .book-plats .bande:first-child{
        margin-top: 20px;
    }
    .book-plats .bande:last-child{
        margin-bottom: 20px;
    }
        

    .book-plats-title{
        height: 40px;
        width: 150px;
        content: "";
        background-color: rgb(233, 95, 82);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        border-radius: 50%;
        position: absolute;
        transform: rotate(-90deg);
    }

/*******desserts*******/
    .book-desserts{

        font-family: fantasy;

        height: 78%;
        width: 60px;
        content: "";

        margin-left: 16px;

        background-color: rgba(181, 181, 145, 1);
        
        border-radius: 16px;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
    .book-desserts .circle{
        height: 35px;
        width: 25px;
        content: "";
        border-radius: 50%;
        background-color: rgba(111, 142, 131, 1);
    }
    .book-desserts .bande-grp{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 22px;
    }
    .book-desserts .bande-grp1 .bande{
        height: 4px;
        width: 50px;
        content: "";
        border-radius: 50% / 100% 100% 0 0;
        border: 2px solid rgba(125, 109, 74, 1);
        border-bottom: none;
    }

    .book-desserts .bande-grp2 .bande{
        height: 4px;
        width: 50px;
        content: "";
        border-radius: 50% / 100% 100% 0 0;
        border: 2px solid rgba(125, 109, 74, 1);
        border-bottom: none;
    }

    .book-desserts .bande-grp3 .bande{
        height: 4px;
        width: 50px;
        content: "";
        border-radius: 50% / 0 0 100% 100%;
        border: 2px solid rgba(125, 109, 74, 1);
        border-top: none;
    }

    .book-desserts .bande-grp4 .bande{
        height: 4px;
        width: 50px;
        content: "";
        border-radius: 50% / 0 0 100% 100%;
        border: 2px solid rgba(125, 109, 74, 1);
        border-top: none;
    }

    .book-desserts-title{
        height: 46px;
        width: 140px;
        content: "";
        background-color: rgb(111, 142, 131);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        border-radius: 50%;
        position: absolute;
        transform: rotate(-90deg);
    }
/************************* */


    .book:active {
        transform: scale(0.9);
    }
    .book {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }

    .parchemin {
      z-index: -1;
      background:
          repeating-linear-gradient(
              90deg,
              rgba(255,255,255,.02) 0px,
              rgba(255,255,255,.02) 1px,
              transparent 2px,
              transparent 4px
          ),
          repeating-linear-gradient(
              0deg,
              rgba(0,0,0,.01) 0px,
              rgba(0,0,0,.01) 1px,
              transparent 3px,
              transparent 5px
          ),
          radial-gradient(
              ellipse at center,
              #f5ebc8 0%,
              #e7d6a5 70%,
              #d6c08c 100%
          );

      box-shadow:
          inset 0 0 100px rgba(90, 50, 0, 0.15);

      border-radius: 4px;
      position: relative;
      overflow: hidden;

      
      width: 100vw;
      height: 100vh;

      padding: 40px;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 98%;
      height: 90vh;
      border: 15px solid transparent;
      overflow-y: auto;
      transition: opacity 0.3s ease; 
      opacity: 0;
    }
    .parchemin.visible { display: block; opacity: 1; }
    .parchemin::before {
        overflow: hidden;
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;



    }
    /* dans le parchemin */

    .entete-parchemin {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
    }
    #titre-parchemin img {
      width: 100px;
      margin-top: 6px;
      position: absolute;
      user-drag: none;
      -webkit-user-drag: none;
    }
    #close-parchemin {
      margin-left: -40px;
      margin-top: -10px;
      cursor: pointer;
    }
    #titre-parchemin{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      align-items: center;
      display: flex;
    }
    #titre-parchemin p {
      position: relative;
      font-size: 24px;
      font-weight: bold;
     }
    #close-parchemin img {
      width: 100px;
      margin-top: -10px;
      position: absolute;
      user-drag: none;
      -webkit-user-drag: none;
    }
    #close-parchemin p {
      margin-left: 19px;
      margin-top: 15px;
      position: relative;
      font-size: 24px;
      font-weight: bold;
      /* transform: matrix3d(0.6, -0.2, 0, 0,
                            0, 1, 0, 0, 0,
                            0, 0, 1,
                            1, 1, 1, 1); */
      transform: rotate(-21deg) scale(0.7);

    }
    #close-parchemin:active {
      transform: scale(0.9);
    }


    .recette-content{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }
    .recette-content table {
      width: 100%;
      border-collapse: collapse;
    }
    .recette-content th {
      font-family: 'Bradley Hand', cursive;
      text-align: left;
      color: #5a3e2b;
      padding-bottom: 10px;
      padding-right: 30px;
    }
    .recette-content td {
      font-family: 'Bradley Hand', cursive;
      text-align: left;
      color: #5a3e2b;
      padding-bottom: 10px;
      padding-right: 10px;
    }
    #title-recette-parchemin{
      font-family: 'Bradley Hand', cursive; 
    }
    #ingredients-parchemin, #preparation-parchemin {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
    }
    #photo-parchemin {
      min-height: 20vh;
      max-width: 100%;
      border: 5px solid #d2b48c;
      border-radius: 5px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    }

    #pagination {
      position: relative;
      margin-top: 20px;
      margin-bottom: -20px;

      display: flex;
      flex-flow: row flex;
      justify-content: center;
      align-items: center;
    }

    #prev-page, #next-page {
      cursor: pointer;
      font-weight: bold;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
    }
    #actual-page {
      margin: 10px;
    }

    .entete {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: end;
    }

    .entete input {
      width: 100px;
    }

    #displayAdd {
      cursor: pointer;
    }

    #addPage {
      z-index: 20000;
      display: none;
      background-color: rgb(77 61 0);
      position: absolute;
      width: 90%;
      height: 80vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      border: 15px solid rgba(125, 109, 74, 1);
      color: white;
    }
    #addPage form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: start;
      align-items: center;
    }
    .flex-row {
      display: flex; flex-flow: row wrap;justify-content: center;align-items: center;
    }
    .flex-col {
      display: flex; flex-flow: column wrap;align-items: center;justify-content: center;
    }
    